html {
    color: #fff;
    font-family: 'Arial';
} 

.side-view-button {
    text-align: left;
}

.side-view-button .icon {
    font-family: "FontAwesome";
    font-size: 30px;
    margin-left: 0.5em;
    margin-top: 1em;
}

.side-view-button .text {
    font-size: 15px;
    margin-left: 1em;
    margin-top: 1em;
}

.headerIcon {
    text-align: center;
    font-family: "FontAwesome";
    font-size: 30px;
    z-index: 2;
}
